body, html{
height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.caption{
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    text-align: center;
    color:black;
}

h3{
    letter-spacing: 5px;
    text-transform: uppercase;
    font:20px "Lato" , sans-serif;
    color:#111;
}

 .caption span.border{
     background-color: #111;
     color:#fff;
     padding:18px;
     font-size: 25px;
    letter-spacing: 10px;
 }

 .img1{
   background-image: url("2.jpeg");
     min-height:100%;
    }

 .img2{
    background-image: url("4.jpeg");
    min-height: 400px;
    }

  .img3{
    background-image: url("1.jpeg");
    min-height: 400px;
     }

  .img1, .img2, .img3{
      /* Mind blowing methods !Amazing :) */
      position:relative;
      opacity:0.65;
      background-attachment: fixed;  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Above Methods  is nice you have to remember always  */

  }
 
  /* Turn off parallax scroolling for tablets and phones */
  @media only screen and(max-device-width:1024px){
      .img1, .img2, .img3{
          background-attachment: scroll;
      }
  }